<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistente J&P</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img id="chat-toggle-button" class="chat-toggle-button" src="{{ url_for('static', filename='images/chat_icon.jpeg') }}" alt="Chat" class="chat-icon">

    <div id="chat-container" class="hidden">
        <div id="chat-header">
            Asistente J&P
        </div>
        <div id="chat-messages">
            </div>
        <div id="options-container">
            </div>
        <div id="chat-input-container">
            <input type="text" id="user-input" placeholder="Escribe tu mensaje o número...">
            <button id="send-button">Enviar</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>